*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../Afghan-CIties-Culture-Showase/images/body.jpeg);
    background-size: cover;
    font-family: cursive;
}

/* #DAA520 #F5F5DC */
.nav{
    background-color:  #8B4513;
    padding: 8px;
    position: fixed;
    width: 100%;
    z-index:2;
}
.nav a{
    color: white;
    border-left: 1px solid #a2551d;
    border-right: 1px solid #a2551d;
}
.nav a:hover{
    text-decoration: underline;
    color: #DAA520;
}

.title-head{
    min-height: 67vh;
    background-image: url(../Afghan-CIties-Culture-Showase/images/back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #DAA520;
    text-align: center;
    padding: 5% 20% 5% 20%;
    margin-bottom: 5%;
}
.title-head h1{
    animation: Infade 0.5s ease 0.7s ;

}
@keyframes Infade{
    0%{
        transform: translateX(50%);
    }
    75%{
        transform: translateY(50%);
    }

}
/* =========second section======== */
.gallary .container{
    display: flex;
    margin: 5% 10%;
}
.gallary .container a{
    color: #DAA520;
    text-decoration: none;
}
.gallary .card{
    text-align: center;
    background-color: #8B4513;
    font-size: 20px;
    border: 2px solid;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
}
.gallary .card-text{
    border:dashed;
}
.gallary img{
    height: 15rem;
}
/* =========== third section ======= */
.day .card{
   background:transparent;
   border: none;
}
.highliths .col-sm-4 .card{
    transition: 0.7s ;
}
.highliths .col-sm-4 .card:hover{
    transform: rotatez(45deg);
}
.card-title{
    text-align: center;
    font-size: 40px;
    color: #DAA520;
}
@keyframes myAnimation {
  0%  {border-color: #DAA520;}
  25%  {border-color: white;}
  50%  {border-color: blue;}
  100% {border-color: green;}
}
.day .col-md-8 img{
    width: 650px;
    border-radius: 30px;
    object-fit:fill;
    border: 3px dashed #DAA520;
    box-shadow:  1px 1px 15px #DAA520;
}
.day .row{
   min-height: 50vh;
   margin: 5px 20px;
   justify-content: center;
   align-items: center;
   background-color: #8B4513;
   border: 8px solid #DAA520;
   color: white;
   animation: myAnimation 2s infinite 3s;

}

.day .col-md-4 .list-card{
    list-style-type:none;
}
/* ============ forth section ======== */
.highliths{
    min-height: 50vh;
    margin: 5%;
}
.highliths .card{
    background-color: #fcd8be;
    box-shadow: 0px 0px 14px  1px #a2551d;
    border:  1px solid #DAA520;
    color: #793b0f;
    text-align: center;
}
.highliths .btn{
    color: #f2c042;
    padding: 10px;
    border-radius: 10px;
    background-color: #793b0f;
}
/* ============= submit============== */
.submit-day{
    min-height: 60vh;
}
form{
    background-color: #fcd8be;
    color: #793b0f;
     margin: 3% auto;
    width: 40%;
    padding: 4%;
    border-radius: 20px;
    border: dashed;
    
}
.submit-day form input{
    display: block;
    font-size: 25px;
    border-radius: 20px;
    border: 2px dashed #793b0f;
    
}
.submit-day .btn{
    margin-left:40%;
    color: #f2c042;
    padding: 10px;
    border-radius: 10px;
    background-color: #793b0f;
}