*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/body.jpeg);
    background-size: cover;

}
/* #DAA520 #F5F5DC */
.nav{
    background-color:  #8B4513;
    padding: 8px;
    border-top: 3px solid #DAA520;
}
.nav a{
    color: white;
    border-left: 1px solid #a2551d;
    border-right: 1px solid #a2551d;
}
.title-head{
    min-height: 67vh;
    background-image: url(../images/back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #DAA520;
    text-align: center;
    padding: 5% 20% 5% 20%;
    margin-bottom: 5%;
}
.gallary .container{
    display: flex;
    margin: 5% 10%;
}
.gallary .container a{
    color: #DAA520;
    text-decoration: none;
}
.gallary .card{
    text-align: center;
    background-color: #8B4513;
    border: none;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.gallary .card-text{
    border:dashed;
}
.gallary img{
    height: 15rem;
}
.day img{
    min-height: 60vh;
    width: 600px;
    /* margin: 10px; */
}
.day .card{
   min-height: 66vh;
   margin: auto;
   background:transparent;
   border: none;

}