body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHBhcGVyJTIwNGt8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 40px;
    min-height: 80vh;
}
.list{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.list-one,.list-two{
    padding: 40px;
    border: 3px solid rgb(1, 104, 104);
    margin: 30px;
    border-radius: 30px;
    font-size: 26px;
}
.about{
    /* min-height: 70vh; */
    display: flex;
    padding: 30px;
}
a{
    padding: 20px;
    color: palevioletred;
}
.content{
    padding: 70px;
    
}
.images{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid pink;
}